In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt

In [21]:
coviddata=pd.read_csv('covid_19_india.csv',parse_dates=['Date'],dayfirst=True)
coviddata.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3

In [22]:
coviddata=coviddata[['Date','State/UnionTerritory','Cured','Deaths','Confirmed']]
coviddata.columns=['date','state','cured','deaths','confirmed']
coviddata.head()

        date   state  cured  deaths  confirmed
0 2020-01-30  Kerala      0       0          1
1 2020-01-31  Kerala      0       0          1
2 2020-02-01  Kerala      0       0          2
3 2020-02-02  Kerala      0       0          3
4 2020-02-03  Kerala      0       0          3

In [24]:
today=coviddata[coviddata.date=='2020-03-30']
today.head()

          date                        state  cured  deaths  confirmed
473 2020-03-30               Andhra Pradesh      1       0         23
474 2020-03-30  Andaman and Nicobar Islands      0       0          9
475 2020-03-30                        Bihar      0       1         15
476 2020-03-30                   Chandigarh      0       0          8
477 2020-03-30                 Chhattisgarh      0       0          7

In [ ]:
max_confirmed=today.sort_values(by='confirmed',ascending=False)
ma